.navbar{
    background-color: chartreuse;
}
body{
    background-color: black;
}
.navbar-brand{
    color:black;
    font-size: 2rem;
}
.nav{
    font-size: 2rem;
}
a{text-align: center;}
/* .first{
    align-items: center;
    height: 200px;
    width: 400px;
} */
.second{
    align-items: center;
    height: 200px;
    width: 400px;
}
.third{
    align-items: center;
    height: 200px;
    width: 400px;
}