<div class="navbar navbar-inverse navbar-expand-sm" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle = "collapse" data-target = ".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
              <a class="navbar-brand" href="/">NEWS BULLETIN</a>
  
      </div>
  <div class ="navbar-collapse collapse">
      <ul class="nav navbar-nav">
          <li><a href="/">HOME</a></li>
  
    
  
  
  
        <li class="dropdown show"><a class="dropdown-toggle"id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TRENDING UPDATES</a>
  
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a style="font-size:20px; color:red; margin-left:15px;font-style:san-serif" class="dropdown-item" href="/articles/cnn">CNN</a><br><hr style="color:#00ff22">
                <a style="font-size:20px; color:blue; margin-left:15px;font-style:san-serif" class="dropdown-item" href="/articles/bbc-sport">BBC SPORT</a><br><hr style="color:#00fff2">
                <a style="font-size:20px; color:#19c3c9; margin-left:15px;font-style:san-serif" class="dropdown-item" href="/articles/mtv-news">MTV NEWS</a><br><hr style="color:#b3ff00">
                <a style="font-size:20px; color:lawngreen; margin-left:15px;font-style:san-serif" class="dropdown-item" href="/articles/espn">ESPN</a><br><hr style="color:#15ff00">
              </div>
            </div>
        </li>
  
  
  
    </ul>
  </div>
    </div>
  
  </div>
  <footer class="page-footer">
    <div class="footer-copyright text-center">
      <h6>© 2021 Copyright: Aizo </h6>
    </div>
  </footer> 